@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    
}

h1, h2 {
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.2em;
    text-transform: uppercase;
}

main p {
    text-align: justify;
    margin-bottom: 16px;
}

header, section.normal {
    padding: 20px;
    background-color: #c3b51d80;
}

section.flex-content {
    padding: 20px;
    background-color: #9342009f;

    display: flex;
    flex-flow: column nowrap;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article > div.text {
    flex: 1 1 500px;
    margin-bottom: 10px;
    align-self: center;
}

article > div.media {
    flex: 1 1 500px;
}

div.media > img {
    display: block;
    margin: auto;
}

div.media > iframe {
    display: block;
    margin: auto;
    width: 80%;
}

footer {
    background-color: black;
    color: #9342009f;
    font-size: 0.8em;    
}

footer > p {
    padding: 10px;
    text-align: center;
}

footer > p > a {
    color: #9342009f;
    text-decoration: none;
}

footer > p > a:hover {
    color: #fff;
    transition: color .5s;
}